@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cairo:wght@200;400;600;700;800;900&family=Open+Sans:wght@300;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Work+Sans:wght@200;300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cairo:wght@200;400;600;700;800;900&family=Lexend+Deca:wght@400;500&family=Open+Sans:wght@300;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Work+Sans:wght@200;300;500;600;700;800&display=swap");
:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: "Lexend Deca", sans-serif;
    background-color: white;
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

p {
    font-size: 15px;
}

img {
    max-width: 100%;
}

.container {
    padding: 20px;
}

.card {
    padding: 30px;
    /* width: 300px; */
    /* height: 500px; */
    /* display: flex; */
    /* margin: auto; */
}

.card img {
    margin-bottom: 25px;
}

.card h3 {
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 30px;
}

.btn {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.Bright-orange {
    background-color: var(--Bright-orange);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.Bright-orange .btn {
    color: var(--Bright-orange);
}

.Dark-cyan {
    background-color: var(--Dark-cyan);
    color: #fff;
}

.Dark-cyan .btn {
    color: var(--Dark-cyan);
}

.Very-dark-cyan {
    background-color: var(--Very-dark-cyan);
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.Very-dark-cyan .btn {
    color: var(--Very-dark-cyan);
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

@media (min-width: 992px) {
    .container {
        display: flex;
        /* text-align: center; */
        justify-content: center;
        height: 100vh;
        align-items: center;
        margin: auto;
        max-width: 900px;
    }
    .Bright-orange {
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;
    }
    .Very-dark-cyan {
        border-radius: 0 10px 10px 0;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
    }
    .card p {
        margin-bottom: 50px;
    }
    .card {
        padding: 60px;
    }
}


/* @media (min-width: 1280px) {
    .container {
        max-width: 1100px;
    }
} */


/* attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}